body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20231218/pngtree-aesthetic-background-cute-beige-design-vector-image_15518670.png'); /* Replace with an actual online image URL */
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.upload-btn, .download-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.upload-btn {
    background-color: #601A3E;
    color: white;
}

.download-btn {
    background-color: #68A2C9;
    color: white;
}

.download-btn:disabled {
    background-color: #68A2C9;
    cursor: not-allowed;
}
